# docs/requirements.txt
mkdocs==1.6.1
mkdocs-material==9.6.14
mkdocs-pdf-export-plugin==0.5.10
diagrams==0.24.4 # <--- CHANGE THIS LINE to the latest available (or 0.24.1)
# Add any other mkdocs plugins you might use later
